/* .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.forgotContainer{
    width: 50%;
}
.forgotContainer > span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3A3D42;
    font-weight: 700;
    font-size: 24px;
    width: 60%;
    padding-left: 50px;
}
.forgotContainer > p{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(58, 61, 66, 0.6);
    font-weight: 400;
    font-size: 16px;
    width: 70%;
    padding-left: 50px;
}

.inputmail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    border-bottom: 1px solid #DADADA;
    margin-left: 50px;
    padding: 17px 0px;
}
.inputmail > input{
    border: none;
    width: 75%;
}
.inputmail >input:focus{
    outline: none;
}
.confirmButton{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #88888F;
    background-color: #DADADA;
    width: 70%;
    margin-left: 50px;
    padding: 16px 183px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 90px;
    cursor: pointer;
}
.confirmButtonAct{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #6379F4;
    width: 70%;
    margin-left: 50px;
    padding: 16px 183px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 90px;
    cursor: pointer;
} */