/* Navbar */
.navbarContainer{
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    /* background-color: #6379F4; */
}

.navbarLogo{
    font-weight: 700;
    font-size: 30px;
    color: #6379F4;
}

.wrapperNavbarProf{
    display: flex;
    gap: 10px;
}

.navbarProfName{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.navbarProfNumber{
    font-weight: 400;
    font-size: 13px;
}

.wrapperIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 25px;
}

.container{
    margin: 5% 5%;
}

.card{
    background-color: #abacaf;
    padding: 5%;
    width: 40%;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardButton{
    display: flex;
    gap: 20px;
}

.button :hover{
    color: blue;
    background-color: #6379F4;
}
